{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Password Reset Email Sent</h3>
                    <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
                    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Return to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}